[core]
	askpass = pass
[credential "https://github.com"]
	helper = "!f() { test \"$1\" = get && echo \"password=$(pass github/personal | sed -n 1p)\"; }; f"
	username = "!f() { test \"$1\" = get && echo \"password=$(pass github/personal | sed -n 2p | cut -d ' ' -f 2)\"; }; f"
[user]
	name = Christian Berrig
	email = chrberrig@protonmail.com
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[difftool]
	prompt = False
[alias]
	glog = log --all --decorate --oneline --graph
	co = checkout
[init]
	defaultBranch = main
